.main-section{
    background: linear-gradient(to right, #f8f9fa, #e9f2ff);
}

.main-title{
    font-size: 55px;
    font-weight: bold;
    color: #0d1b2a;
}

.sub-text{
    font-size: 20px;
    color: #555;
    line-height: 35px;
}

.hero-img{
    width: 350px;
}

.btn{
    padding: 10px 30px;
    border-radius: 10px;
}