<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-lg border-0">
                <div class="card-body p-4">

                    <h2 class="text-center mb-4">
                        Register
                    </h2>

                    <form (ngSubmit)="register()">

                        <div class="mb-3">
                            <label>Name</label>

                            <input
                                type="text"
                                class="form-control"
                                placeholder="Enter name"
                                name="vch_name"
                                [(ngModel)]="formData.vch_name"
                            >
                        </div>

                        <div class="mb-3">
                            <label>Email</label>

                            <input
                                type="email"
                                class="form-control"
                                placeholder="Enter email"
                                name="vch_email"
                                [(ngModel)]="formData.vch_email"
                            >
                        </div>

                        <div class="mb-3">
                            <label>Password</label>

                            <input
                                type="password"
                                class="form-control"
                                placeholder="Enter password"
                                name="vch_password"
                                [(ngModel)]="formData.vch_password"
                            >
                        </div>

                        <div class="mb-3">
                            <label>Select Role</label>

                            <select 
                                class="form-select" 
                                name="int_role" 
                                [(ngModel)]="formData.int_role"
                            >
                                <option value="">
                                    Choose Role
                                </option>

                                <option value="1">
                                    Teacher
                                </option>

                                <option value="2">
                                    Student
                                </option>
                            </select>
                        </div>

                        <button class="btn btn-primary w-100">
                            Register
                        </button>

                    </form>

                </div>
            </div>

        </div>

    </div>
</div>